<a href="https://colab.research.google.com/github/yabbou/Career_Forecasting/blob/main/final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Career Forecasting**
==

Introduction
==

**Abstract**

**250 words or less

**General Introduction**

**Describe your project, including the scientific or business motivation for the research
question you have chosen to answer. This section should summarize the content of your Final Project Proposal,
so be sure to explain your research question, describe the source and content of the data set you have chosen to
work with, and summarize your approach to meeting the requirements for the Project

*Research Question*: ...

_Variables_:...

The data set includes ...:
1.

**Research Approach**

**Explain + present the end-to-end methodology you made use of for all
aspects of your Final Project work, including your EDA, data preparation, and investigative analysis work.
Be sure to include a description of your data management strategy as part of your narrative.

**Summary:**

Step 1: Introduction

Step 2: EDA

Step 3: Data Cleaning

Step 4: Investigative Analysis

Step 5: Conclusion

Part 2: EDA
==

Here are some of the data tables that will be analysed:

In [48]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns
from sklearn.metrics import confusion_matrix, classification_report 
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, roc_curve
from yellowbrick.classifier import ROCAUC

import warnings
warnings.filterwarnings("ignore")

def displayRows(df):
  rows = df.shape[0]
  print('Rows:',rows)

employed_df = pd.read_csv("https://raw.githubusercontent.com/yabbou/Career_Forecasting/main/datasets/employed_usa_2006_2015.csv").iloc[:-2,:]
displayRows(employed_df)
employed_df.head()

Rows: 28

                                          Occupation     2006  ...     2014     2015
0                                    All occupations  144,427  ...  146,305  148,834
1  Management, professional, and related occupations   50,420  ...   56,050   57,960
2  Management, business, and financial operations...   21,233  ...   23,171   24,108
3               Professional and related occupations   29,187  ...   32,879   33,852
4                                          Architect      221  ...      178      203

[5 rows x 11 columns]

In [49]:
employed_college_students_df = pd.read_csv("https://raw.githubusercontent.com/yabbou/Career_Forecasting/main/datasets/employment_college_students_2010_2012.csv")
employed_college_students_df = employed_college_students_df.drop(['Major_code'],axis='columns') #Major_code was relevant when retrieving the data from original source 
displayRows(employed_college_students_df)
employed_college_students_df.head()

Rows: 173

   Rank  ... Low_wage_jobs
0     1  ...           193
1     2  ...            50
2     3  ...             0
3     4  ...             0
4     5  ...           972

[5 rows x 20 columns]

Are there any null values for which to account?

In [56]:
def displayNulls(df):
  nulls = df[df.isnull().sum()]
  print(nulls,'\n')

def displayNullCount(df):
  null_count = df.isnull().sum()
  print(null_count[df.isnull().sum() > 0],'\n')

employed_students_df = pd.read_csv("https://raw.githubusercontent.com/yabbou/Career_Forecasting/main/datasets/employment_all_students_2010_2012.csv")
employed_students_df = employed_students_df.drop(['Major_code'],axis='columns') 

employed_graduate_students_df = pd.read_csv("https://raw.githubusercontent.com/yabbou/Career_Forecasting/main/datasets/employment_graduate_school_students_2010_2012.csv")
employed_graduate_students_df = employed_graduate_students_df.drop(['Major_code'],axis='columns') 


displayNullCount(employed_df)
displayNullCount(employed_students_df)
displayNullCount(employed_college_students_df)
displayNullCount(employed_graduate_students_df)

Series([], dtype: int64)

Series([], dtype: int64)

Unemployment_rate    1
dtype: int64

Series([], dtype: int64)

Thankfully, most of the data cleaning was performed before uploaded to the public domain. But there indeed remains a single null value in the `employed_college_students_df` table.

In [51]:
def displayNullRow(df):
  return df[df.isnull().any(axis=1)]

displayNullRow(employed_college_students_df)

    Rank                  Major  ... Non_college_jobs  Low_wage_jobs
73    74  MILITARY TECHNOLOGIES  ...                0              0

[1 rows x 20 columns]

The last row holds an unknown `unemployment_rate`. Though, the `Unemplyed` column has a value of 0, so the rate could be deduced to also be 0.